{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <h1>Example of Formatting tags</h1>
        <p>This text has <b>subtext</b> using a b tag</p>
        <p>This text has <strong>subtext</strong> using a strong tag</p>
        <p>This text has <i>subtext</i> using a i tag</p>
        <p>This text has <em>subtext</em> using a emphasize tag</p>
        <p>This text has <small>subtext</small> using a small tag</p>
        <p>This text has <mark>subtext</mark> using a mark tag</p>
        <p>This text has <del>subtext</del> using a del tag</p>
        <p>This text has <ins>subtext</ins> using a ins tag</p>
        <p>This text has <sub>subtext</sub> using a sub tag</p>

    </body>
</html>