{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>

    <body>
        <a href="https://myqu.qu.edu.sa" class="links" id="newTap" target="_blank"> Go to QU website (open a new tap)</a>
        <a href="https://myqu.qu.edu.sa" class="links" id="sameTap" target="_self" > Go to QU website (open in the same page/tap)</a>
        <a href="https://myqu.qu.edu.sa" class="links" id="sameTap2" target="_self" > Go to QU website (open in the same page/tap)</a>
    </body>
</html>