{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <h1 class="listing" >The Best Features of The Internet</h1>
        <ul>
            <li>you can meet new people</li>
            <li>you have access to new media   
                <ul>
                    <li>new games</li>
                    <li>new applications
                        <ol>
                            <li>new games</li>
                            <li>new applications</li>
                        </ol>
                    </li>
                    <li>around the clock news</li>
                    <li>search engines</li>
                    <li>shopping</li>
                    <li>programming
                        <ol>
                            <li>XML</li>
                            <li>java</li>
                            <li>html5</li>
                            <li>javascript</li>
                            <li>NEW languages</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>Links</li>
            <li>keeping in touch with old friends</li>
            <li>it's the tecknology o the future!</li>
          </ul>
    </body>
</html>